---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi 👋</div>
    <div class="text-5xl font-bold">I'm Jiyoon Pyo</div>
    <!-- <div class="text-3xl py-3 font-bold">Ph.D. Student at University of Minnesota</div> -->
    <div class="py-2">
      <text class="text-lg">
        <br />
        I am a second-year Ph.D. student in Computer Science at the University of Minnesota-Twin Cities, where I am a member of the <a href="https://knowledge-computing.github.io/">Knowledge Computing Lab</a> under the supervision of Dr. Yao-Yi Chiang. <br />
        <br />
        My research focuses on developing and applying natural language processing (NLP) techniques to analyze and integrate spatial data, particularly in bridging the gap between text and spatial datasets.
        Currently, I am working on understanding structured datasets that contain spatial information, and I am aiming to improve the integration of text-based and spatial data for more efficient analysis.
        Beyond spatial data, I am also generally interested in how people understand and interpret words in different contexts.<br />
        <br />
        I received both my B.Eng and M.Eng in Electrical Engineering from The Cooper Union, where I developed a foundation in machine learning and computational linguistics. 
        My master's thesis, titled Detection and Replacement of Neologisms for Translation, was conducted under the guidance of Dr. Carl Sable and focused on improving translation quality through identification and processing of new linguistics terms. <br />
        I have also worked as a research assistant in the Language and Voice Lab at Reykjavik University, where I collaborated with Dr. Stefan Olafsson on verifying multilingual language models.
      </text>
    </div>
    <!-- <div class="mt-8">
      <a class="btn" href="https://twitter.com/manuelernestog" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div> -->
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">News</div>
  </div> -->

  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">News</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
